@import '../utilidades/variables';

/* Estilos específicos para la página "Servicio" */

.main-p-cursos {
  margin: 25px;
}

.div-servicio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 15px;
  padding: 15px;
  align-items: center;
}

.p-servicio {
  margin: 15px;
  text-align: center;
}

.div-servicio ul li {
  padding: 20px;
}
.pie-pagina{
  width: 100%;
  background-color: $bg-color;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 150px;
}
.pie-pagina .grupo-1 .box h2{
  
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: $text-color;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: $text-color;
  margin-right: 10px;
  background-color: #0d200d;
  text-align: center;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 0px;
  text-align: center;
  color: $text-color;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

  /* Estilos para pantallas de tamaño pequeño */
@media (max-width: 600px) {
.grupo-1{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  }
  header {
      display: flex;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li{
      width: 100%;
      height: 100%;
      font-size: 15px;
 
  }
   main .div-servicio{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1,fr);
   }
   main .div-servicio ul{
      width: 100%;
   }
   main .div-servicio ul li{
      width: 100%;
   }
   main .div-servicio img{
      width: 90%;
      margin: 10px;
   }
  main .div-servicio{
    height: 100%;
  }
    
  .div-servicio {
  grid-template-columns: repeat(1,1fr);
  padding: 10px;
  margin: 10px;
}

@media (min-width: 601px) and (max-width: 1024px) {
  
  .div-servicio{
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    margin: 10px;
  }

  footer {
    width: 100%;
    background-color: $bg-color;
    padding: 20px;
    text-align: center;
    color: $text-color;
  }
  
  
  footer p {
    margin-bottom: 10px;
  }
  
  
  footer a {
    color: $link-color;
    text-decoration: none;
  }
}